Kingsun.SmarterClassroom.API/Service References/BigDataService/BigDataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BigDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.3.7:8027/BigDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.3.7:8027/BigDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.3.7:8027/BigDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBigDataService_SyLogMonitorWeb_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitorWeb_Add" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogMonitorWeb_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitorWeb_AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogMonitorApi_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitorApi_Add" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogMonitorApi_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitorApi_AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogMonitor_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitor_GetList" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogMonitor_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogMonitor_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogOper_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogOper_GetList" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogOper_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogOper_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogErrorWeb_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogErrorWeb_Add" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogErrorWeb_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogErrorWeb_AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogErrorApi_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogErrorApi_Add" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogErrorApi_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogErrorApi_AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogError_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:SyLogError_GetList" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_SyLogError_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyLogError_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_Add" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_GetList" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_GetListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_GetListAll" />
  </wsdl:message>
  <wsdl:message name="IBigDataService_ClrLogMonitorWeb_GetListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClrLogMonitorWeb_GetListAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IBigDataService">
    <wsdl:operation name="SyLogMonitorWeb_Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitorWeb_Add" message="tns:IBigDataService_SyLogMonitorWeb_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitorWeb_AddResponse" message="tns:IBigDataService_SyLogMonitorWeb_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogMonitorApi_Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitorApi_Add" message="tns:IBigDataService_SyLogMonitorApi_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitorApi_AddResponse" message="tns:IBigDataService_SyLogMonitorApi_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogMonitor_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitor_GetList" message="tns:IBigDataService_SyLogMonitor_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogMonitor_GetListResponse" message="tns:IBigDataService_SyLogMonitor_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogOper_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogOper_GetList" message="tns:IBigDataService_SyLogOper_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogOper_GetListResponse" message="tns:IBigDataService_SyLogOper_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogErrorWeb_Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogErrorWeb_Add" message="tns:IBigDataService_SyLogErrorWeb_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogErrorWeb_AddResponse" message="tns:IBigDataService_SyLogErrorWeb_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogErrorApi_Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogErrorApi_Add" message="tns:IBigDataService_SyLogErrorApi_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogErrorApi_AddResponse" message="tns:IBigDataService_SyLogErrorApi_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyLogError_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/SyLogError_GetList" message="tns:IBigDataService_SyLogError_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/SyLogError_GetListResponse" message="tns:IBigDataService_SyLogError_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_Add" message="tns:IBigDataService_ClrLogMonitorWeb_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_AddResponse" message="tns:IBigDataService_ClrLogMonitorWeb_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetList" message="tns:IBigDataService_ClrLogMonitorWeb_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetListResponse" message="tns:IBigDataService_ClrLogMonitorWeb_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_GetListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetListAll" message="tns:IBigDataService_ClrLogMonitorWeb_GetListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetListAllResponse" message="tns:IBigDataService_ClrLogMonitorWeb_GetListAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBigDataService" type="tns:IBigDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyLogMonitorWeb_Add">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogMonitorWeb_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogMonitorApi_Add">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogMonitorApi_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogMonitor_GetList">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogMonitor_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogOper_GetList">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogOper_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogErrorWeb_Add">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogErrorWeb_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogErrorApi_Add">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogErrorApi_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyLogError_GetList">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/SyLogError_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_Add">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_GetList">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClrLogMonitorWeb_GetListAll">
      <soap:operation soapAction="http://tempuri.org/IBigDataService/ClrLogMonitorWeb_GetListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BigDataService">
    <wsdl:port name="BasicHttpBinding_IBigDataService" binding="tns:BasicHttpBinding_IBigDataService">
      <soap:address location="http://192.168.3.7:8027/BigDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>