Kingsun.SmarterClassroom.API/Service References/BigDataService/BigDataService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.7:8027/BigDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" />
  <xs:element name="SyLogMonitorWeb_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="m" nillable="true" type="q1:SyLogMonitorAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogMonitorWeb_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogMonitorApi_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="m" nillable="true" type="q2:SyLogMonitorAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogMonitorApi_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogMonitor_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="w_totalTime" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="controller" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogMonitor_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="SyLogMonitor_GetListResult" nillable="true" type="q3:ArrayOfSyLogMonitorList" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogOper_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogOper_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="SyLogOper_GetListResult" nillable="true" type="q4:ArrayOfSyLogMonitorList" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogErrorWeb_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="m" nillable="true" type="q5:SyLogErrorAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogErrorWeb_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogErrorApi_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="m" nillable="true" type="q6:SyLogErrorAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogErrorApi_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogError_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="controller" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyLogError_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="SyLogError_GetListResult" nillable="true" type="q7:ArrayOfSyLogErrorList" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" type="xs:int" />
        <xs:element minOccurs="0" name="OperId" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="ClrLogMonitorWeb_GetListResult" nillable="true" type="q8:ArrayOfRoomLogList" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_GetListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClrLogMonitorWeb_GetListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Fz.BigData.WCF" minOccurs="0" name="ClrLogMonitorWeb_GetListAllResult" nillable="true" type="q9:ArrayOfRoomLogList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>