Kingsun.SmarterClassroom.API/Service References/UploadFileService/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.3.2:8020/FileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.3.2:8020/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.3.2:8020/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fz.Core.WcfService.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_GetFileByFileID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByFileID" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileByFileID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByFileIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UpdateFileWH_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileWH" />
  </wsdl:message>
  <wsdl:message name="IFileService_UpdateFileWH_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileWHResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFileFromClassRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileFromClassRoom" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFileFromClassRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileFromClassRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="GetFileByFileID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetFileByFileID" message="tns:IFileService_GetFileByFileID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetFileByFileIDResponse" message="tns:IFileService_GetFileByFileID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileWH">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UpdateFileWH" message="tns:IFileService_UpdateFileWH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UpdateFileWHResponse" message="tns:IFileService_UpdateFileWH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileFromClassRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadFileFromClassRoom" message="tns:IFileService_UploadFileFromClassRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UploadFileFromClassRoomResponse" message="tns:IFileService_UploadFileFromClassRoom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileByFileID">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetFileByFileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileWH">
      <soap:operation soapAction="http://tempuri.org/IFileService/UpdateFileWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileFromClassRoom">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadFileFromClassRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://192.168.3.2:8020/FileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>