Kingsun.SmarterClassroom.API/Service References/UploadFileService/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fz.Core.WcfService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fz.Core.WcfService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="R_File">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:int" />
      <xs:element minOccurs="0" name="FileType" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_File" nillable="true" type="tns:R_File" />
</xs:schema>